<div id="mainToolbar" class="qc-navbar qc-navbar-default qc-navbar-fixed-top" role="navigation">
  <button style="float: left;" class="user-info" [matMenuTriggerFor]="menu">
    <div class="avatar img-circle" [ngStyle]="{'background-image': 'url(' + photo + ')'}"></div>
  </button>
  <mat-menu backdropClass="userInfoSection_not_used" #menu="matMenu">
    <div class="content" (click)="$event.stopPropagation();">
      <h4 style="margin-left: 10px; font-size: 16px ">User Profile</h4>
      <div class="user-info-section">
        <div> Name: {{userProfile | default: "display_name"}}</div>
        <div>Email: {{userProfile | default: "email"}}</div>
        <div>Country: {{userProfile | default: "country"}}</div>
        <div style='word-break: break-all; word-wrap: break-word;'>Url:
          <a (click)="openUserPage(userProfile)" class="cursor-pointer"> {{userProfile | default: "external_urls.spotify"}}</a>
         </div>
      </div>
    </div>
  </mat-menu>
  <button
    style="float: right; background-color: transparent !important; border-width: 0px; box-shadow: none !important;"
    mat-button id="Signout" class="mat-raised-button mat-primary header-button logout-button" (click)="auth.logout()">
    <mat-icon> power_settings_new </mat-icon>
    <span>&nbsp;&nbsp;Log out</span>
  </button>
</div>
